# general
__pycache__
/dist
.venv
.vscode
.coverage
.pytest_cache
.ruff_cache
.ropeproject

# misc
.DS_Store

# subrepos
/android_*
/*_kernel_*
/clang*
/rtl8812au
/AnyKernel3
/KernelSU

# local artifacts
/*.log
/kernel
/assets
/source
/bundle
/localversion
/multi-build
